*converted-to.pdf
*.aux
*.log
*.gz
*.pgm
*.txt
*.ppm
*.lplog
*.info
*.bbl
*.blg
mask-boundary.png
cover-letter/cover-letter.pdf
jmiv.pdf
answer-to-reviewers/answer-to-reviewers.pdf
.DS_Store
Revision/Biographies/photos.pdf
