*converted-to.pdf
*.aux
*.log
*.gz
*.pgm
*.txt
*.ppm
*.lplog
*.info
mask-boundary.png
cover-letter/cover-letter.bbl
cover-letter/cover-letter.blg
cover-letter/cover-letter.pdf
jmiv.bbl
jmiv.blg
jmiv.pdf
answer-to-reviewers/answer-to-reviewers.pdf
